.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
body {
    background: linear-gradient(to right, #4ca2cd, #67B26F);
}

.col-sm-6 {
  margin-bottom: 30px;
}

.col-sm-12 {
  font-family: "Fanwood Text";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.container {
  text-align: left;
}

.heading {
  text-align: center;
}

.question {
  font-family: "Maiden Orange";
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
  letter-spacing: 3px;
	line-height: 26.4px;
  text-transform: uppercase;
}

.space {
  margin-bottom: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
